
.steps {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #dadada;
}